@media (max-width: 1325px) {
    header {
        padding: 16px 3%;
    }

    header.sticky {
        padding: 8px 3%;
    }

    section {
        padding: 130px 3% 60px;
    }
}

@media (max-width: 970px) {
    :root {
        --h1-font: 4.2rem;
        --h2-font: 3.7rem;
        --p-font: 1rem;
    }

    section {
        padding: 70px 3% 60px;
    }

    .home {
        height: 85vh;
    }

    .about, .contact {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
    }
}

@media (max-width: 830px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: $other-color;
        text-align: left;
        transition: all 0.4s ease;

        a {
            display: block;
            padding: 1rem;
            margin: 1rem;
        }

        &.active {
            top: 100%;
        }
    }

    :root {
        --h1-font: 3.7rem;
        --h2-font: 2.7rem;
    }
}

@media (max-width: 660px) {
    .skill-item img {
        height: 90%;
        width: 90%;
    }

    :root {
        --h1-font: 2.7rem;
    }
}