.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;

    img {
        height: 200px; 
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.row {
    padding: 25px;
    background: $other-color;
    border-radius: 0.5rem;
    transition: all 0.4s ease;

    h3 {
        font-size: 25px;
        font-weight: 700;
    }

    h6 {
        color: $main-color;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &:hover {
        transform: scale(1.01) translateY(-5px);
        cursor: pointer;
    }
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main-text {
    text-align: center;

    h2 {
        font-size: $h1-font;
        margin-bottom: 10px;

        @media (max-width: 970px) {
            font-size: 3.2rem;
        }

        @media (max-width: 830px) {
            font-size: 2.7rem;
        }

        p {
            color: $main-color;
            font-size: $p-font;
            text-align: center;
        }
    }
}