header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;

    &.sticky {
        padding: 10px 16%;
        background: $bg-color;
        border-bottom: 1px solid darken($bg-color, 10%);
    }

    a {
        color: $text-color;
    }
}